
<p> Groups are common Email addresses shared by a set of usersfor a common purpose. 
    This section lists the groups that are added to your organization account.
    click on the groups name to view the group details or to change any groupspecific settings.</p>
    <br>
    <br>
    <b><a href="/create"><span class="create">*create</span></a></b>
    <b><span class="create">Import</span></b>
    <b><span class="create">Export</span></b>
    <b><span class="create">Filter</span></b>
    <br>
    <br>
    
    <mat-nav-list class="mat">
    <strong><span class="class">groupName/Email </span></strong>
    <strong><span class="class">Access Level</span></strong>
    <strong><span class="class">Member Count</span></strong>
    <strong><span class="class">Moderation</span></strong>
    </mat-nav-list>
    